html, body {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	font-size: 62.5%;
}

*, ::before, ::after {
	margin: 0;
	padding: 0;
}

header {
	font-size: 3rem;
}

p {
	font-size: 1.5rem;
	padding: 1em 0;
	line-height: 1.5em;
}

h2 {
  font-size: 2rem;
}

h3 {
  background-color: #b0e0e6;
  display: inline-block;
  font-family: 'Ubuntu';
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding-left: 1em;
  padding-right: 0.5em;
}

/* ------------------- the meat -------------*/

body {
	max-width: 1070px;
	margin: 0 3vw;
}

#navbar {
  max-width: 720px;
  margin: auto;
  padding: 0 2vw 2vw 0;
  text-align: center;
}

#nav-head {
	font-weight: 700;
	text-align: center;
	padding-bottom: 2vh;
}

.nav-link {
	display: inline-block;
	font-size: 1.5rem;
	text-decoration: none;
	color: #000;
	padding: 0.25em;
}

.nav-link:hover {
	background-color: #b0e0e6;
}

#main-doc {
	max-width: 780px;
	margin: auto;
}

/* ----------------- wide screen ----------------- */

@media only screen and (min-width: 660px) {
	#navbar {
		width: 25vw;
		margin: 0 auto;
		position: fixed;
	}

  .nav-link {
  	display: block;
  }

  #main-doc {
  	margin-left: 28vw;
  }
}

/* --------------- end wide screen ----------------- */

ol li {
	font-size: 1.5rem;
	margin-left: 3em;
}

.codeblock {
	background-color: #f2f2f2;
	border-left: 3px solid #4682B4;
	font-size: 1.5rem;
  padding: 0.5em;
	margin-bottom: 0.75em;
}

.last {
	margin-bottom: 10vh;
}
